/*
Project 4
Author: Ronaldo Barnes
Created for: ASD Online 0112
*/



div ul {
	background-color: : #3f92d2;
	}
div a {
	font-size: small;
	}
div p {
	font-size: small;
	color: white;
	}
# main {background: black;}

label.error{
	display: block;
	margin: 11px 0;
	color: red;
}

em { 
    color: red; 
    font-weight: bold; 
    padding-right: .25em; 
    font-size: x-small;
}

.ui-mobile .ui-page{
background-image: url(../images/background.jpg);
}

#headimg{display: inline}

#headid{display: inline
}

.ui-body-b {
color:white;
background: white;
text-shadow: 0 1px 0;
}

.ui-body-b input{color: black;}

.ui-body-b textarea{color: black;}

#mainLink {display: none;}